body {
	margin: 0;
	background: #000;
	color: #fff;
}

#hint {
	position: fixed;
	top: 0;
	left: 10%;
	width: 80%;
	text-align: center;
	font-size: 1em;
	padding: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	background: rgba(64,64,64,0.8);
}

#wrapper {
	position: relative;
}

#main_canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 960px;
	height: 540px;
	margin: auto;
	background: #000;
}