body {
    color: #fff;
	background: #000;
	text-align: center;
}
h1 {
    font-size: 1em;
    line-height: 1em;
    margin: 0;
}
#map {
    width: 960px;
    height: 540px;
    border: 10px solid #444;
    margin: 10px auto;
}
#editor {
    position: relative;
    width: 100%;
    height: 100%;
}
#canvas {
	width: 100%;
	height: 100%;
}
#extra, #start, #end, #current {
    margin: 0 1em;
}
input[type="number"] {
    width: 3em;
    text-align: right;
}
#end input {
    width: 8em;
}
#lights {
    width: 60em;
    margin: 0 0.5em;
    font-family: "monospace";
}
textarea {
    width: 960px;
    height: 4em;
}
#code {
    height: 30em;
}

.point {
    position: absolute;
    width: 6px;
    height: 6px;
    display: none;
}
#point_move {
    background: yellow;
}
#point_start {
    background: red;
}
#point_selected {
    border: 1px solid yellow;
    margin: -1px;
    width: auto;
    height: auto;
}
